@media only screen and (max-width: 850px) {
    .imagem {
        width: 100px;
        height: 100px;
    }
    .comprado{
        width: 100px;
        height: 100px;
    }
    .nome {
        font-size: 10px;
    }
    .container {
        width: 100px;
        height: 100px;
    }
    .numero {
        font-size: 40px;
    }
    .listitem{
        font-size: 3vh;
    }
    .titulo{
        font-size: 5vh;
    }
    .titulo2{
        font-size: 5vh;
    }
    .titulo3{
        font-size: 5vh;
    }
}
@media only screen and (min-width: 851px) {
    .imagem {
        width: 300px;
        height: 300px;
    }
    .comprado {
        width: 300px;
        height: 300px;
    }
    .nome {
        font-size: 40px;
    }
    .container {
        width: 300px;
        height: 300px;
    }
    .numero {
        font-size: 100px;
    }
    .listitem{
        font-size: 5vh;
    }
    .titulo{
        font-size: 5vh;
    }
    .titulo2{
        font-size: 5vh;
    }
    .titulo3{
        font-size: 5vh;
    }
}


@font-face {
    font-family: sonoBold;
    src: url(./fonts/Sono-Bold.woff2);
  }

  @font-face {
    font-family: twinMarker;
    src: url(./fonts/TwinMarker.ttf);
  }

.titulo{
    font-family: twinMarker;
    text-align: left;
    color: red;
}

.titulo2{
    font-family: twinMarker;
    text-align: left;
    color: darkred;
}

.titulo3{
    font-family: twinMarker;
    text-align: left;
    color: black;
}

.container {
    position: relative;
    text-align: center;
    color: red;
}

.numero {
    font-family: twinMarker;
    position: absolute;
    top: 8px;
    left: 16px;
    color: red;
}

.nome {
    font-family: twinMarker;
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: red;
    background-color: black;
}

.imagem{
    padding-bottom: 10px;
    filter: grayscale(100%)  brightness(1.75);
    object-fit: cover;
}

.comprado {
    background-color: red;
    opacity: 0.35;
    z-index: 100;
    position: absolute;
}

.listitem{
    font-family: twinMarker;
    margin: 1vh;
}

.instructions-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px;
}


