@media only screen and (max-width: 850px) {
    .imagem {
        width: 100px;
        height: 100px;
    }
    .comprado{
        width: 100px;
        height: 100px;
    }
    .nome {
        font-size: 10px;
    }
    .container {
        width: 100px;
        height: 100px;
    }
    .numero {
        font-size: 40px;
    }
    .listitem{
        font-size: 3vh;
    }
    .titulo{
        font-size: 5vh;
    }
    .titulo2{
        font-size: 5vh;
    }
    .titulo3{
        font-size: 5vh;
    }
}
@media only screen and (min-width: 851px) {
    .imagem {
        width: 300px;
        height: 300px;
    }
    .comprado {
        width: 300px;
        height: 300px;
    }
    .nome {
        font-size: 40px;
    }
    .container {
        width: 300px;
        height: 300px;
    }
    .numero {
        font-size: 100px;
    }
    .listitem{
        font-size: 5vh;
    }
    .titulo{
        font-size: 5vh;
    }
    .titulo2{
        font-size: 5vh;
    }
    .titulo3{
        font-size: 5vh;
    }
}


@font-face {
    font-family: sonoBold;
    src: url(./fonts/Sono-Bold.woff2);
  }

  @font-face {
    font-family: twinMarker;
    src: url(./fonts/TwinMarker.ttf);
  }

.titulo{
    font-family: twinMarker;
    text-align: left;
    color: red;
}

.titulo2{
    font-family: twinMarker;
    text-align: left;
    color: darkred;
}

.titulo3{
    font-family: twinMarker;
    text-align: left;
    color: black;
}

.container {
    position: relative;
    text-align: center;
    color: red;
}

.numero {
    font-family: twinMarker;
    position: absolute;
    top: 8px;
    left: 16px;
    color: red;
}

.nome {
    font-family: twinMarker;
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: red;
    background-color: black;
}

.imagem{
    padding-bottom: 10px;
    filter: grayscale(100%)  brightness(1.75);
    object-fit: cover;
}

.comprado {
    background-color: red;
    opacity: 0.35;
    z-index: 100;
    position: absolute;
}

.listitem{
    font-family: twinMarker;
    margin: 1vh;
}

.instructions-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px;
}



#sorteados {
    grid-column: 1 / span 8;
    grid-row: 49 / span 1;
    font-family: sonoBold;
    color: black;
}

.sortear {
    grid-column: 4 / span 2;
    grid-row: 45 / span 1;
    appearance: button;
    background-color: darkred;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: sonoBold;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}

.sortear:after {
    background-clip: padding-box;
    background-color: red;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.sortear,
.sortear:focus {
    user-select: auto;
}

.sortear:hover:not(:disabled) {
    filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.sortear:disabled {
    cursor: auto;
}

.sortear:active {
    border-width: 4px 0 0;
    background: none;
}
